.movieRow {
    margin-top: 15px;
}

.card {
    margin-top: 15px;
}

.moviesListCard {
    width: 18rem;
}

div.poster {
    margin: 10px;
}

.smallPoster {
    user-select: none;
    position: relative;
}

.star {
    position: absolute;
    width: 4em;
    height: 4em;
    right: -5px;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 2;
}

.starFill {
    fill: yellow;
}

.starEmpty {
    fill: white;
}